Repository sendbird/sendbird-uikit-react, pull requests merged in 2024-12, with the labels that each got.

#1263 [CLNP-5817][CLNP-5918] fix: scroll & search message issues in GroupChannelProvider
  src/hooks/useDeepCompareEffect.ts
  src/hooks/useStore.ts
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/hooks/useMessageListScroll.tsx
  src/utils/storeManager.ts
Labels: provider_migration

#1267 [CLNP-5914] Fix unit tests and UI error
  src/modules/App/DesktopLayout.tsx
  src/modules/GroupChannelList/context/GroupChannelListProvider.tsx
  src/modules/GroupChannelList/context/__tests__/GroupChannelListProvider.spec.tsx
  src/modules/GroupChannelList/context/__tests__/useGroupChannelList.spec.tsx
  src/modules/Thread/context/ThreadProvider.tsx
Labels: provider_migration

#1266 Used useDeepCompareEffect for the updateState of SendbirdProvider
  src/lib/Sendbird/context/SendbirdProvider.tsx
Labels: provider_migration

#1270 fix: Add optional chaining for undefined logger and pubSub
  src/modules/OpenChannel/context/hooks/useInitialMessagesFetch.ts
  src/modules/OpenChannelApp/index.tsx
  src/modules/OpenChannelList/context/OpenChannelListProvider.tsx
  src/modules/OpenChannelList/context/hooks/useSetupOpenChannelList.ts
Labels: provider_migration

#1271 [CLNP-5974] Add more GroupChannel module custom hook unit tests
  src/modules/GroupChannel/context/__tests__/useGroupChannel.spec.tsx
  src/modules/GroupChannel/context/__tests__/useMessageListScroll.spec.tsx
  src/modules/GroupChannel/context/__tests__/utils.spec.ts
Labels: provider_migration

#1272 Use useEffect instead of useDeepCompareEffect in GroupChannelListProvider
  src/hooks/useDeepCompareEffect.ts
  src/modules/GroupChannelList/context/GroupChannelListProvider.tsx
  src/modules/GroupChannelList/context/__tests__/GroupChannelListProvider.spec.tsx
Labels: provider_migration

#1277 [CLNP-5981] fix blinking GroupChannel on switching to another
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/__tests__/GroupChannelProvider.spec.tsx
  src/modules/GroupChannel/context/__tests__/useGroupChannel.spec.tsx
Labels: provider_migration

#1275 chore: Add tests for SendbirdProvider migration
  jest-setup.js
  src/lib/Sendbird/__tests__/SendbirdContext.spec.tsx
  src/lib/Sendbird/__tests__/SendbirdProvider.spec.tsx
  src/lib/Sendbird/__tests__/index.spec.tsx
  src/lib/Sendbird/__tests__/initialState.spec.ts
  src/lib/Sendbird/__tests__/useSendbird.spec.tsx
  src/lib/Sendbird/__tests__/utils.spec.ts
  src/lib/Sendbird/context/hooks/useSendbird.tsx
  src/lib/Sendbird/index.tsx
Labels: provider_migration

#1274 Add basic test cases for the new `ThreadProvider`
  src/modules/Thread/components/ThreadUI/__test__/ThreadUI.integration.test.tsx
  src/modules/Thread/context/ThreadProvider.tsx
  src/modules/Thread/context/__test__/ThreadProvider.spec.tsx
  src/modules/Thread/context/__test__/useDeleteMessageCallback.spec.ts
  src/modules/Thread/context/__test__/useGetAllEmoji.spec.ts
  src/modules/Thread/context/__test__/useGetChannel.spec.ts
  src/modules/Thread/context/__test__/useGetParentMessage.spec.ts
  src/modules/Thread/context/__test__/useHandleChannelEvents.spec.ts
  src/modules/Thread/context/__test__/useHandleThreadPubsubEvents.spec.ts
  src/modules/Thread/context/__test__/useResendMessageCallback.spec.ts
  src/modules/Thread/context/__test__/useSendFileMessage.spec.ts
  src/modules/Thread/context/__test__/useSendUserMessageCallback.spec.ts
  src/modules/Thread/context/__test__/useSendVoiceMessageCallback.spec.ts
  src/modules/Thread/context/__test__/useThread.spec.tsx
  src/modules/Thread/context/__test__/useThreadFetchers.spec.ts
  src/modules/Thread/context/__test__/useToggleReactionsCallback.spec.ts
  src/modules/Thread/context/__test__/useUpdateMessageCallback.spec.ts
  src/modules/Thread/context/hooks/useDeleteMessageCallback.ts
  src/modules/Thread/context/hooks/useResendMessageCallback.ts
  src/modules/Thread/context/hooks/useSendFileMessage.ts
  src/modules/Thread/context/hooks/useUpdateMessageCallback.ts
  src/modules/Thread/context/useThread.ts
Labels: provider_migration

#1278 [CLNP-6010] Add more unit tests for existing message search custom hook
  src/modules/MessageSearch/context/__test__/MessageSearchProvider.spec.tsx
  src/modules/MessageSearch/context/__test__/useGetSearchedMessages.spec.ts
  src/modules/MessageSearch/context/__test__/useScrollCallback.spec.ts
  src/modules/MessageSearch/context/__test__/useSearchStringEffect.spec.ts
  src/modules/MessageSearch/context/__test__/useSetChannel.spec.ts
Labels: provider_migration

#1281 fix: Provide scrollRef in GroupChannelList
  src/modules/GroupChannelList/components/GroupChannelListUI/GroupChannelListUIView.tsx
  src/modules/GroupChannelList/components/GroupChannelListUI/index.tsx
  src/modules/GroupChannelList/context/GroupChannelListProvider.tsx
Labels: 3.15.10

#1279 [CLNP-6019][CLNP-6023][CLNP-6024] Add state management migration tests
  jest-setup.js
  src/lib/SendbirdProvider.migration.spec.tsx
  src/modules/ChannelSettings/__test__/ChannelSettings.migration.spec.tsx
  src/modules/ChannelSettings/context/ChannelSettingsProvider.tsx
  src/modules/CreateChannel/context/__tests__/CreateChannel.migration.spec.tsx
  src/modules/GroupChannel/context/__tests__/GroupChannel.migration.spec.tsx
  src/modules/GroupChannelList/context/__tests__/GroupChannelList.migration.spec.tsx
  src/modules/MessageSearch/context/__tests__/MessageSearch.migration.spec.tsx
  src/modules/Thread/context/__test__/Thread.migration.spec.tsx
Labels: provider_migration

#1273 [CLNP-5921] Sync thread message with groupchannel message update
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/hooks/useMessageActions.ts
Labels: 3.15.10

#1287 [CLNP-6032]Display members' name instead of default AI chatbot channel name
  src/modules/ChannelSettings/components/ChannelProfile/index.tsx
  src/modules/ChannelSettings/components/LeaveChannel/index.tsx
  src/modules/GroupChannel/components/GroupChannelHeader/utils.ts
  src/modules/GroupChannelList/components/GroupChannelListItem/utils.ts
  src/modules/MessageSearch/components/MessageSearchUI/index.tsx
  src/utils/__tests__/utils.spec.ts
  src/utils/index.ts
Labels: 3.15.10

#1285 Fix migration test failure
  src/lib/Sendbird/context/hooks/useSendbird.tsx
  src/lib/SendbirdProvider.migration.spec.tsx
  src/lib/hooks/useMessageTemplateUtils.ts
  src/modules/ChannelSettings/__test__/ChannelSettingsProvider.spec.tsx
  src/modules/ChannelSettings/__test__/useChannelSettings.spec.tsx
  src/modules/ChannelSettings/context/ChannelSettingsProvider.tsx
  src/modules/ChannelSettings/context/types.ts
  src/modules/ChannelSettings/context/useChannelSettings.ts
  src/modules/CreateChannel/context/__tests__/CreateChannel.migration.spec.tsx
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/__tests__/GroupChannel.migration.spec.tsx
  src/modules/GroupChannel/context/types.ts
  src/modules/GroupChannelList/context/GroupChannelListProvider.tsx
  src/modules/GroupChannelList/context/__tests__/GroupChannelList.migration.spec.tsx
  src/modules/MessageSearch/__test__/MessageSearchUI.integration.test.tsx
  src/modules/MessageSearch/components/MessageSearchUI/index.tsx
  src/modules/MessageSearch/context/MessageSearchProvider.tsx
  src/modules/MessageSearch/context/__tests__/MessageSearch.migration.spec.tsx
  src/modules/MessageSearch/context/__tests__/MessageSearchProvider.spec.tsx
  src/modules/MessageSearch/context/__tests__/useGetSearchedMessages.spec.ts
  src/modules/MessageSearch/context/__tests__/useMessageSearch.spec.tsx
  src/modules/MessageSearch/context/__tests__/useScrollCallback.spec.ts
  src/modules/MessageSearch/context/__tests__/useSearchStringEffect.spec.ts
  src/modules/MessageSearch/context/__tests__/useSetChannel.spec.ts
  src/modules/MessageSearch/context/hooks/useMessageSearch.ts
  src/modules/Thread/context/ThreadProvider.tsx
  src/modules/Thread/context/__test__/Thread.migration.spec.tsx
Labels: provider_migration

#1283 [CLNP-6003] test: Add tests for hooks in `src/hooks`
  src/hooks/__tests__/useAsyncRequest.spec.tsx
  src/hooks/__tests__/useDebounce.spec.tsx
  src/hooks/__tests__/useLongPress.spec.tsx
  src/hooks/__tests__/useMouseHover.spec.tsx
  src/hooks/__tests__/useOutsideAlerter.spec.tsx
  src/hooks/__tests__/useThrottleCallback.spec.tsx
  src/hooks/useAppendDomNode.ts
  src/hooks/useThrottleCallback.ts
Labels: provider_migration

#1286 release: v3.15.10
  CHANGELOG.md
  package.json
Labels: release, 3.15.10

#1288 [CLNP-6022] Memoize useGroupChannel actions to prevent unnecessary re-rendering
  src/modules/GroupChannel/components/MessageList/InfiniteList.tsx
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/__tests__/useMessageListScroll.spec.tsx
  src/modules/GroupChannel/context/hooks/useGroupChannel.ts
  src/modules/GroupChannel/context/hooks/useMessageListScroll.tsx
  src/utils/storeManager.ts
Labels: provider_migration

#1289 fix: scroll to bottom when bubble TypingIndicator appears
  src/modules/GroupChannel/components/MessageList/index.tsx
Labels: 3.15.11
