Repository sendbird/sendbird-uikit-react, pull requests merged in 2024-11, with the labels that each got.

#1246 [CLNP-5047] Migrate GroupChannelProvider to new state management pattern
  apps/testing/vite.config.ts
  src/modules/Channel/context/ChannelProvider.tsx
  src/modules/Channel/context/hooks/useToggleReactionCallback.ts
  src/modules/GroupChannel/__test__/GroupChannelUIView.integration.test.tsx
  src/modules/GroupChannel/components/FileViewer/index.tsx
  src/modules/GroupChannel/components/GroupChannelUI/index.tsx
  src/modules/GroupChannel/components/Message/MessageView.tsx
  src/modules/GroupChannel/components/Message/index.tsx
  src/modules/GroupChannel/components/MessageInputWrapper/index.tsx
  src/modules/GroupChannel/components/MessageList/index.tsx
  src/modules/GroupChannel/components/RemoveMessageModal/index.tsx
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/__test__/GroupChannelProvider.spec.tsx
  src/modules/GroupChannel/context/__test__/useGroupChannel.spec.tsx
  src/modules/GroupChannel/context/__test__/useMessageActions.spec.tsx
  src/modules/GroupChannel/context/hooks/useGroupChannel.ts
  src/modules/GroupChannel/context/hooks/useMessageActions.ts
  src/modules/GroupChannel/context/hooks/useToggleReactionCallback.ts
  src/modules/GroupChannel/context/types.ts
  src/modules/GroupChannel/index.tsx
  src/modules/MessageSearch/context/MessageSearchProvider.tsx
  src/modules/MessageSearch/context/__test__/MessageSearchProvider.spec.tsx
  src/modules/Thread/components/ParentMessageInfo/ParentMessageInfoItem.tsx
  src/modules/Thread/context/ThreadProvider.tsx
  src/ui/FileMessageItemBody/index.tsx
  src/ui/MessageContent/MessageBody/index.tsx
  src/ui/MessageContent/index.tsx
  src/ui/MultipleFilesMessageItemBody/index.tsx
Labels: provider_migration

#1252 fix: Fixed a bug where profile bottom position not updating correctly for messages with feedback and replies
  src/ui/MessageContent/index.tsx
Labels: 3.15.9

#1254 fix: improve error handling in message handlers
  package.json
  src/modules/GroupChannel/context/GroupChannelProvider.tsx
  src/modules/GroupChannel/context/__tests__/useMessageActions.spec.ts
  src/modules/GroupChannel/context/hooks/useMessageActions.ts
  yarn.lock
Labels: 3.15.9

#1255 release: 3.15.9
  CHANGELOG.md
  package.json
Labels: release

#1253 refactor: SendbirdProvider migration - (1) prepare new structure
  src/lib/Sendbird/README.md
  src/lib/Sendbird/__experimental__typography.scss
  src/lib/Sendbird/context/SendbirdProvider.tsx
  src/lib/Sendbird/context/hooks/useSendbird.tsx
  src/lib/Sendbird/context/initialState.ts
  src/lib/Sendbird/index.scss
  src/lib/Sendbird/index.tsx
  src/lib/Sendbird/types.ts
Labels: provider_migration

#1250 [CLNP-5046] Migrate ThreadProvider to the new state management pattern
  src/modules/Thread/components/ParentMessageInfo/ParentMessageInfoItem.tsx
  src/modules/Thread/components/ParentMessageInfo/index.tsx
  src/modules/Thread/components/RemoveMessageModal.tsx
  src/modules/Thread/components/SuggestedMentionList.tsx
  src/modules/Thread/components/ThreadList/ThreadListItem.tsx
  src/modules/Thread/components/ThreadList/ThreadListItemContent.tsx
  src/modules/Thread/components/ThreadList/index.tsx
  src/modules/Thread/components/ThreadMessageInput/index.tsx
  src/modules/Thread/components/ThreadUI/index.tsx
  src/modules/Thread/context/ThreadProvider.tsx
  src/modules/Thread/context/__test__/ThreadProvider.spec.tsx
  src/modules/Thread/context/dux/actionTypes.ts
  src/modules/Thread/context/dux/initialState.ts
  src/modules/Thread/context/dux/reducer.ts
  src/modules/Thread/context/hooks/useDeleteMessageCallback.ts
  src/modules/Thread/context/hooks/useGetAllEmoji.ts
  src/modules/Thread/context/hooks/useGetChannel.ts
  src/modules/Thread/context/hooks/useGetParentMessage.ts
  src/modules/Thread/context/hooks/useHandleChannelEvents.ts
  src/modules/Thread/context/hooks/useHandleThreadPubsubEvents.ts
  src/modules/Thread/context/hooks/useResendMessageCallback.ts
  src/modules/Thread/context/hooks/useSendFileMessage.ts
  src/modules/Thread/context/hooks/useSendUserMessageCallback.ts
  src/modules/Thread/context/hooks/useSendVoiceMessageCallback.ts
  src/modules/Thread/context/hooks/useSetCurrentUserId.ts
  src/modules/Thread/context/hooks/useThreadFetchers.ts
  src/modules/Thread/context/hooks/useUpdateMessageCallback.ts
  src/modules/Thread/context/useThread.ts
  src/modules/Thread/types.tsx
Labels: provider_migration

#1259 fix: Make tests passible for SendbirdProvider migration
  src/modules/ChannelSettings/__test__/ChannelSettingsProvider.spec.tsx
  src/modules/ChannelSettings/__test__/ChannelSettingsUI.integration.test.tsx
  src/modules/CreateChannel/components/CreateChannelUI/__tests__/CreateChannelUI.integration.test.tsx
  src/modules/CreateChannel/components/InviteUsers/__tests__/index.spec.tsx
  src/modules/CreateChannel/components/InviteUsers/index.tsx
  src/modules/CreateChannel/context/__tests__/CreateChannelProvider.spec.tsx
  src/modules/CreateChannel/context/__tests__/useCreateChannel.spec.tsx
  src/modules/GroupChannel/__test__/GroupChannelUIView.integration.test.tsx
  src/modules/GroupChannel/context/__test__/GroupChannelProvider.spec.tsx
  src/modules/GroupChannel/context/__test__/useGroupChannel.spec.tsx
  src/modules/GroupChannel/context/hooks/useGroupChannel.ts
  src/modules/GroupChannelList/components/GroupChannelListUI/__tests__/GroupChannelListUI.integration.test.tsx
  src/modules/GroupChannelList/context/__tests__/GroupChannelListProvider.spec.tsx
  src/modules/GroupChannelList/context/__tests__/useGroupChannelList.spec.tsx
  src/modules/MessageSearch/context/__test__/MessageSearchProvider.spec.tsx
  src/modules/MessageSearch/context/__test__/useMessageSearch.spec.tsx
  src/modules/Thread/context/__test__/ThreadProvider.spec.tsx
  src/modules/Thread/context/useThread.ts
  src/ui/BottomSheet/__tests__/BottomSheet.spec.js
  src/ui/FileViewer/__tests__/FileViewer.spec.js
  src/ui/MessageContent/__tests__/MessageContent.spec.js
  src/ui/MessageInput/__tests__/MessageInput.spec.js
  src/ui/UserListItem/__tests__/UserListItem.spec.js
  src/ui/Word/__tests__/Word.spec.js
  src/ui/Word/__tests__/__snapshots__/Word.spec.js.snap
Labels: provider_migration
